<controllo-ore-x-index-template
  [page]="this"
  [buttonIcon]="buttonIcon"
  [buttonText]="buttonText"
  [isPageWithTable]="false"
  (openCreateDialogEvent)="createFn()"
  (openDialogEvent)="openDialogFn($event)"
></controllo-ore-x-index-template>

<lib-rt-table-fulltext-bar (fulltextSearchEvent)="updateFulltextSearch($event)">
</lib-rt-table-fulltext-bar>

<div class="-subtitle">
  <h2 class="body-1">Ore totali di assenza</h2>
  <span class="headline-5">{{ convertNumberToHours(dayoffsHours) }}</span>
</div>

<div class="-table">
  <lib-rt-table
    *ngIf="this.isFirstLoadDone"
    [isLoading]="this.isLoading.getValue()"
    [isTableTopbarVisible]="this.isTableTopbarVisible"
    [isTableHeaderVisible]="this.isTableHeaderVisible"
    (statusChangeEvent)="this.indexTableHandler.statusChange($event)"
    [tableConfiguration]="this.configuration"
    [data]="this.indexTableHandler.data"
    [status]="this.indexTableHandler.status"
    [isEditAvailable]="false"
    (openDialogEvent)="openDialogFn($event)"
  ></lib-rt-table>
</div>
