<div class="-box">
  <div *ngIf="project" class="-info">
    <div class="headline-6">Dettaglio</div>
    <div class="-info__line">
      <div class="body-2 -info__line__title">
        <span class="material-symbols-outlined">beach_access</span>
        Stato
      </div>

      <mat-chip *ngIf="isCompleted" class="caption -info__line__status--done">
        Done
      </mat-chip>
      <mat-chip
        *ngIf="!isCompleted && hoursExecuted > 0"
        class="caption -info__line__status--in-progress"
      >
        In progress
      </mat-chip>
      <mat-chip
        *ngIf="!isCompleted && hoursExecuted === 0"
        class="caption -info__line__status--planned"
      >
        Planned
      </mat-chip>
    </div>

    <div class="-info__line">
      <div class="body-2 -info__line__title">
        <span class="material-symbols-outlined">assist_walker</span>
        Avanzamento
      </div>

      <mat-progress-bar
        class="-info__line__progress-bar"
        mode="determinate"
        value="{{ (hoursExecuted / totalHoursBudget) * 100 }}"
      ></mat-progress-bar>
    </div>

    <div class="-info__line">
      <div class="body-2 -info__line__title">
        <span class="material-symbols-outlined">egg</span>
        Progetto
      </div>

      <div class="body-2">{{ project.name }}</div>
    </div>

    <div class="-info__line">
      <div class="body-2 -info__line__title">
        <span class="material-symbols-outlined">bakery_dining</span>
        Cliente
      </div>

      <div class="body-2">{{ project.customer!.name }}</div>
    </div>

    <div class="-info__line">
      <div class="body-2 -info__line__title">
        <span class="material-symbols-outlined">event</span>
        Consegna
      </div>

      <div class="body-2">{{ formatDate(project.deadline) }}</div>
    </div>

    <div class="-info__line">
      <div class="body-2 -info__line__title">
        <span class="material-symbols-outlined">snooze</span>
        Budget ore
      </div>

      <div class="body-2">{{ convertNumberToHours(project.hoursBudget) }}</div>
    </div>

    <div class="-info__line">
      <div class="body-2 -info__line__title">
        <span class="material-symbols-outlined">face</span>
        Project Manager
      </div>

      <div class="body-2">
        {{ project.projectManager?.name }} {{ project.projectManager?.surname }}
      </div>
    </div>
  </div>

  <ng-container *appHasRole="ROLE.ADMIN">
    <div *ngIf="project" class="-info">
      <div class="headline-6">Amministrazione</div>

      <div class="-info__line">
        <div class="body-2 -info__line__title">
          <span class="material-symbols-outlined">avg_time</span>
          Budget ore fatturabili
        </div>

        <div class="body-2">
          <div class="body-2">
            {{ convertNumberToHours(project.billableHoursBudget) }}
          </div>
        </div>
      </div>
      <div class="-info__line">
        <div class="body-2 -info__line__title">
          <span class="material-symbols-outlined">paid</span>
          Sommatoria ore fatturate
        </div>

        <div class="body-2">
          {{ convertNumberToHours(hoursExecuted) }}
        </div>
      </div>
      <div class="-info__line">
        <div class="body-2 -info__line__title">
          <span class="material-symbols-outlined">event</span>
          Consegna cliente
        </div>

        <div class="body-2">{{ formatDate(project.customerDeadline) }}</div>
      </div>

      <div class="-info__line">
        <div class="body-2 -info__line__title">
          <span class="material-symbols-outlined">tag</span>
          Numero di release
        </div>

        <div class="body-2">{{ releases?.length ?? '-' }}</div>
      </div>
      <div class="-info__line">
        <div class="body-2 -info__line__title">
          <span class="material-symbols-outlined">avg_time</span>
          Sommatoria ore fatturabili
        </div>

        <div class="body-2">
          {{ convertNumberToHours(billableReleasesHours) }}
        </div>
      </div>
    </div>
  </ng-container>
</div>
